body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.calculator {
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10 black;
    border-radius: 10px;
}

#result {
    width: 94%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;

}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}